<div class="worker-form">
    <h2>Formulario de Registro de Trabajador</h2>
    <form (ngSubmit)="onSubmit()" #workerForm="ngForm">
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" required [(ngModel)]="worker.firstName" name="firstName"
                placeholder="Introduce el nombre">
        </div>
        <div>
            <label for="surname">Apellido:</label>
            <input type="text" id="surname" required [(ngModel)]="worker.lastName" name="lastName"
                placeholder="Introduce el apellido">
        </div>
        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" required [(ngModel)]="worker.username" name="username"
                placeholder="Introduce el nombre de usuario">
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" required [(ngModel)]="worker.password" name="password"
                placeholder="Introduce la contraseña">
        </div>
        <div>
            <label for="category">Categoría:</label>
            <select id="category" required [(ngModel)]="worker.role" name="role">
                <option value="" disabled selected>Selecciona una categoría</option>
                <option value="Mecanico">Mecánico</option>
                <option value="Administrador">Administrador</option>
                <option value="Pintor Automotriz">Pintor Automotriz</option>
            </select>
        </div>
        <div>
            <label for="photo">Foto:</label>
            <input type="file" id="photo" (change)="onFileChange($event)" accept="image/*">
            <small class="file-instructions">Formato recomendado: .jpg, .png</small>
        </div>
        <div class="button-container">
            <button type="submit" class="action-button save-button" [disabled]="!workerForm.form.valid">Guardar</button>
            <button type="button" class="action-button cancel-button" (click)="cancel()">Cancelar</button>
        </div>
    </form>
    <div *ngIf="confirmationMessage" class="confirmation-message">{{ confirmationMessage }}</div>
</div>